{% extends "layout.html" %}

{% block title %}
    : Search
{% endblock %}

{% block main %}
    {% if q %}
        <div class="row d-flex justify-content-center">
            {% for book in q %}
                <form action="/bookview" method="post" class="card col-lg-4 m-2">
                    <div class="card-body">
                        {% if book['volumeInfo']['imageLinks'] %}
                            <img src="{{ book['volumeInfo']['imageLinks']['thumbnail'] }}" alt="{{ book['volumeInfo']['title'] }}"></td>
                        {% else %}
                            <img src="../static/img/no-book-cover.jpeg" alt="{{ book['volumeInfo']['title'] }}"></td>
                        {% endif %}
                        <h5 class="card-title font-weight-bold">{{ book['volumeInfo']['title'] }}</h5>
                        <p class="card-text">
                            <small class="text-muted">{{ book['volumeInfo']['publisher'] }}</small>
                        </p>
                        <p class="card-text font-italic">
                            <small>
                                {% for author in book['volumeInfo']['authors'] %}
                                    {{ author }}
                                
                                {% endfor %}
                            </small>
                        </p>
                        <p class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF6161" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            <small class="text-muted">{{ book['volumeInfo']['averageRating'] | default("0", true) }}/5</small>
                        </p>
                        {% for category in book['volumeInfo']['categories'] %}
                            <span class="badge badge-pill badge-primary">{{ category }}</span>
                        {% endfor %}
                        {% if book['volumeInfo']['language'] %}
                            <span class="badge badge-danger">{{ book['volumeInfo']['language'].upper() }}</span>
                        {% endif %}
                    </div>
                    {% if ((book['volumeInfo']['readingModes']['text'] or book['volumeInfo']['readingModes']['image']) and book['volumeInfo']['industryIdentifiers']) %}
                        <button name="isbn" value="{{ book['volumeInfo']['industryIdentifiers'][0]['identifier'] }}" type="submit" class="card-footer btn text-muted d-flex justify-content-center align-items-center">
                            Read book
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                    {% elif book['volumeInfo']['description'] %}
                        <button name="description" value="{{ book['volumeInfo']['description'] }}" type="submit" class="card-footer btn text-muted d-flex justify-content-center align-items-center">
                            Read description
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </button>
                    {% else %}
                        <small class="card-footer text-muted">
                            No details available
                        </small>
                    {% endif %}
                </form>
            {% endfor %}
        </div>
    {% else %}
        <img src="../static/img/search-not-found.png" alt="Search result not found">
        <br />
        <a class="btn btn-primary" href="/home">Search again</a>
    {% endif %}
{% endblock %}